In [32]:
# Import Libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import psycopg2
%matplotlib inline
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [33]:
from data_config import DB_NAME, DB_USER, DB_PASS, DB_HOST, DB_PORT
conn = psycopg2.connect(database=DB_NAME,
                        user=DB_USER,
                        password=DB_PASS,
                        host=DB_HOST,
                        port=DB_PORT)
print("Database connected successfully")

Database connected successfully

In [34]:
cur = conn.cursor()
# Fetch the column names of the table
cur.execute("SELECT column_name FROM information_schema.columns WHERE table_name ='employee'")
rows = cur.fetchall()
column_names = [row[0] for row in rows]
print(column_names)
print('column names fetched successfully')

['age', 'employee_count', 'employee_number', 'hourly_rate', 'job_level', 'monthly_income', 'monthly_rate', 'num_companies_worked', 'percent_salary_hike', 'standard_hours', 'stock_option_level', 'total_working_years', 'training_times_last_year', 'years_at_company', 'years_in_current_role', 'years_since_last_promotion', 'years_with_curr_manager', 'daily_rate', 'distance_from_home', 'attrition', 'business_travel', 'marital_status', 'department', 'work_life_balance', 'education', 'education_field', 'performance_rating', 'relationship_satisfaction', 'environment_satisfaction', 'gender', 'over_18', 'job_involvement', 'over_time', 'job_role', 'job_satisfaction']
column names fetched successfully

## Question 1
### Check for the employee with a Doctorate degree with an age less than 40

In [35]:
# query="SELECT * FROM employee WHERE Age > 40 AND Education = 'Doctor';"

cur = conn.cursor()
cur.execute("SELECT * FROM employee WHERE Age > 40 AND Education = 'Doctor'")
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =column_names)
print(employee_df)

    age employee_count    employee_number  hourly_rate  \
0    44             No      Travel_Rarely         1488
1    47             No      Travel_Rarely         1482
2    42             No      Travel_Rarely          810
3    48             No      Travel_Rarely          163
4    55             No      Travel_Rarely         1117
5    41             No      Travel_Rarely         1276
6    43             No  Travel_Frequently         1001
7    42             No         Non-Travel          179
8    42             No  Travel_Frequently          458
9    41             No      Travel_Rarely         1283
10   44             No  Travel_Frequently          383
11   50             No  Travel_Frequently          333
12   53            Yes      Travel_Rarely          607
13   55             No      Travel_Rarely          685
14   50             No  Travel_Frequently         1234
15   45             No      Travel_Rarely         1015
16   44             No  Travel_Frequently          602
17   48             No  Travel_Frequently          365
18   50             No      Travel_Rarely          813
19   54             No      Travel_Rarely          584
20   56             No      Travel_Rarely         1443

                 job_level  monthly_income monthly_rate num_companies_worked  \
0                    Sales               1       Doctor            Marketing
1   Research & Development               5       Doctor        Life Sciences
2   Research & Development              23       Doctor        Life Sciences
3                    Sales               2       Doctor            Marketing
4                    Sales              18       Doctor        Life Sciences
5                    Sales               2       Doctor        Life Sciences
6   Research & Development               9       Doctor              Medical
7          Human Resources               2       Doctor              Medical
8   Research & Development              26       Doctor              Medical
9   Research & Development               5       Doctor              Medical
10                   Sales               1       Doctor            Marketing
11  Research & Development              22       Doctor              Medical
12  Research & Development               2       Doctor     Technical Degree
13                   Sales              26       Doctor            Marketing
14  Research & Development              20       Doctor              Medical
15  Research & Development               5       Doctor              Medical
16         Human Resources               1       Doctor      Human Resources
17  Research & Development               4       Doctor              Medical
18  Research & Development              17       Doctor        Life Sciences
19  Research & Development              22       Doctor              Medical
20                   Sales              11       Doctor            Marketing

    percent_salary_hike  standard_hours stock_option_level  \
0                     1              68             Medium
1                     1             447   Highly Satisfied
2                     1             468                Low
3                     1             595             Medium
4                     1             597                Low
5                     1             625             Medium
6                     1             663   Highly Satisfied
7                     1            1231   Highly Satisfied
8                     1            1242                Low
9                     1            1448             Medium
10                    1            1481                Low
11                    1            1539          Satisfied
12                    1            1572          Satisfied
13                    1            1578          Satisfied
14                    1            1606             Medium
15                    1            1611          Satisfied
16                    1            1642                Low
17                    1            1644          Satisfied
18                    1            1656   Highly Satisfied
19                    1            1665             Medium
20                    1            1935   Highly Satisfied

   total_working_years  training_times_last_year years_at_company  \
0               Female                        75         Involved
1                 Male                        42         Involved
2               Female                        44         Involved
3               Female                        37         Involved
4               Female                        83         Involved
5               Female                        91         Involved
6                 Male                        72         Involved
7                 Male                        79  Highly-Involved
8               Female                        60         Involved
9                 Male                        90  Highly-Involved
10              Female                        79         Involved
11                Male                        88              Low
12              Female                        78           Medium
13                Male                        60           Medium
14                Male                        41         Involved
15              Female                        50              Low
16                Male                        37         Involved
17                Male                        89           Medium
18              Female                        50           Medium
19              Female                        91         Involved
20              Female                        89           Medium

    years_in_current_role years_since_last_promotion years_with_curr_manager  \
0                       2            Sales Executive                     Low
1                       5          Research Director               Satisfied
2                       4          Research Director        Highly-Satisfied
3                       2            Sales Executive        Highly-Satisfied
4                       4                    Manager                     Mid
5                       4                    Manager                     Low
6                       2      Laboratory Technician               Satisfied
7                       2            Human Resources                     Low
8                       3          Research Director                     Low
9                       1         Research Scientist               Satisfied
10                      2            Sales Executive               Satisfied
11                      4          Research Director        Highly-Satisfied
12                      3     Manufacturing Director        Highly-Satisfied
13                      5                    Manager        Highly-Satisfied
14                      4  Healthcare Representative               Satisfied
15                      2      Laboratory Technician                     Low
16                      2            Human Resources        Highly-Satisfied
17                      4                    Manager        Highly-Satisfied
18                      3          Research Director                     Low
19                      4                    Manager               Satisfied
20                      2            Sales Executive                     Low

   daily_rate  distance_from_home  attrition  business_travel marital_status  \
0    Divorced                5454       4009                5              Y
1     Married               18300      16375                4              Y
2      Single               15992      15901                2              Y
3     Married                4051      19658                2              Y
4      Single               16835       9873                3              Y
5     Married               16595       5626                7              Y
6    Divorced                5679      19627                3              Y
7     Married                6272      12858                7              Y
8     Married               13191      23281                3              Y
9     Married                2127       5561                2              Y
10    Married                4768       9282                7              Y
11     Single               14411      24450                1              Y
12    Married               10169      14618                0              Y
13    Married               19586      23037                1              Y
14    Married               11245      20689                2              Y
15     Single                5769      23447                1              Y
16    Married                5743      10503                4              Y
17    Married               15202       5602                2              Y
18   Divorced               13269      21981                5              Y
19    Married               17426      18685                3              Y
20    Married                5380      20328                4              Y

   department  work_life_balance         education   education_field  \
0         Yes                 21  Highly-Satisfied         Satisfied
1          No                 11         Satisfied            Medium
2          No                 14         Satisfied            Medium
3          No                 14         Satisfied               Low
4          No                 23  Highly-Satisfied  Highly-Satisfied
5          No                 16         Satisfied            Medium
6         Yes                 13         Satisfied            Medium
7          No                 16         Satisfied               Low
8         Yes                 17         Satisfied         Satisfied
9         Yes                 12         Satisfied               Low
10         No                 12         Satisfied         Satisfied
11        Yes                 13         Satisfied  Highly-Satisfied
12         No                 16         Satisfied            Medium
13         No                 21  Highly-Satisfied         Satisfied
14        Yes                 15         Satisfied         Satisfied
15        Yes                 14         Satisfied               Low
16        Yes                 11         Satisfied         Satisfied
17         No                 25  Highly-Satisfied            Medium
18         No                 15         Satisfied         Satisfied
19         No                 25  Highly-Satisfied         Satisfied
20         No                 16         Satisfied         Satisfied

    performance_rating  relationship_satisfaction  environment_satisfaction  \
0                   80                          1                         9
1                   80                          1                        21
2                   80                          0                        16
3                   80                          1                        14
4                   80                          0                        37
5                   80                          1                        22
6                   80                          1                        10
7                   80                          1                        10
8                   80                          0                        20
9                   80                          0                         7
10                  80                          1                        11
11                  80                          0                        32
12                  80                          1                        34
13                  80                          1                        36
14                  80                          1                        32
15                  80                          0                        10
16                  80                          0                        14
17                  80                          1                        23
18                  80                          3                        19
19                  80                          1                        36
20                  80                          1                         6

    gender    over_18  job_involvement  over_time  job_role  job_satisfaction
0        2        Mid                4          3         1                 3
1        2       Good                3          2         1                 1
2        2       Good                1          0         0                 0
3        2       Good                9          7         6                 7
4        2       Good               10          9         7                 7
5        2       Good               18         16        11                 8
6        3       Good                8          7         4                 7
7        3  Very-Good                4          3         0                 3
8        6       Good                1          0         0                 0
9        5        Mid                4          2         0                 3
10       4        Mid                1          0         0                 0
11       2       Good               32          6        13                 9
12       4       Good               33          7         1                 9
13       3       Good               36          6         2                13
14       3       Good               30          8        12                13
15       3       Good               10          7         1                 4
16       3       Good               10          7         0                 2
17       3       Good                2          2         2                 2
18       3       Good               14         11         1                11
19       6       Good               10          8         4                 7
20       3       Good                0          0         0                 0

## Question 2
### What is the count of employees by gender?

In [36]:
cur = conn.cursor()
cur.execute('SELECT Gender,COUNT(*) AS gender_count FROM employee GROUP BY Gender ORDER BY gender_count DESC;')
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =['gender','gender_count'])
print(employee_df)

   gender  gender_count
0    Male           882
1  Female           588

## Question 3
### How is the distribution of employee education across different departments?

In [37]:
cur = conn.cursor()
cur.execute('SELECT Department, Education, COUNT(*) AS Count_of_Employees FROM employee GROUP BY Department,Education ORDER BY Department, Education DESC;')
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =['department','education','employee_count'])
print(employee_df)

                department      education  employee_count
0          Human Resources         Master              15
1          Human Resources         Doctor               3
2          Human Resources        College              13
3          Human Resources  Below College               5
4          Human Resources       Bachelor              27
5   Research & Development         Master             255
6   Research & Development         Doctor              30
7   Research & Development        College             182
8   Research & Development  Below College             115
9   Research & Development       Bachelor             379
10                   Sales         Master             128
11                   Sales         Doctor              15
12                   Sales        College              87
13                   Sales  Below College              50
14                   Sales       Bachelor             166

## Question 4
### What is the distribution of employee performance ratings across different departments?

In [38]:
cur = conn.cursor()
cur.execute('SELECT Department,Performance_Rating,COUNT(*) AS Count_of_employees FROM employee GROUP BY Department,Performance_Rating ORDER BY Department, Count_of_employees DESC;')
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =['department','performance_rating','employee_count'])
print(employee_df)

               department performance_rating  employee_count
0         Human Resources          Satisfied              54
1         Human Resources   Highly-Satisfied               9
2  Research & Development          Satisfied             805
3  Research & Development   Highly-Satisfied             156
4                   Sales          Satisfied             385
5                   Sales   Highly-Satisfied              61

## Question 5
### What is the average monthly rate and income for each job role?

In [39]:
cur = conn.cursor()
cur.execute('SELECT Job_Role, ROUND(AVG(Monthly_Rate), 2) AS avg_monthly_rate, ROUND(AVG(Monthly_income), 2) AS avg_monthly_income FROM employee GROUP BY Job_Role ORDER BY avg_monthly_income DESC;')
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =['job_role','avg_monthly_rate','avg_monthly_income'])
print(employee_df)

                    job_role avg_monthly_rate avg_monthly_income
0                    Manager         15139.58           17181.68
1          Research Director         15080.55           16033.55
2  Healthcare Representative         14400.20            7528.76
3     Manufacturing Director         14478.97            7295.14
4            Sales Executive         14471.11            6924.28
5            Human Resources         13292.40            4235.75
6         Research Scientist         13927.11            3239.97
7      Laboratory Technician         14066.06            3237.17
8       Sales Representative         14278.20            2626.00

## Question 6
### What is the average monthly rate and income for each job role in each department?

In [40]:
cur = conn.cursor()
cur.execute('SELECT Department,Job_Role,ROUND(AVG(Monthly_Rate), 2) AS avg_monthly_rate,ROUND(AVG(Monthly_income), 2) AS avg_monthly_income FROM employee GROUP BY Department, Job_Role ORDER BY Department, avg_monthly_income DESC;')
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =['department','job_role','avg_monthly_rate','avg_monthly_income'])
print(employee_df)

                department                   job_role avg_monthly_rate  \
0          Human Resources                    Manager         14441.18
1          Human Resources            Human Resources         13292.40
2   Research & Development                    Manager         15289.06
3   Research & Development          Research Director         15080.55
4   Research & Development  Healthcare Representative         14400.20
5   Research & Development     Manufacturing Director         14478.97
6   Research & Development         Research Scientist         13927.11
7   Research & Development      Laboratory Technician         14066.06
8                    Sales                    Manager         15129.05
9                    Sales            Sales Executive         14471.11
10                   Sales       Sales Representative         14278.20

   avg_monthly_income
0            18088.64
1             4235.75
2            17130.33
3            16033.55
4             7528.76
5             7295.14
6             3239.97
7             3237.17
8            16986.97
9             6924.28
10            2626.00

## Question 7
### What is the distribution of employee attrition across different age ranges?

In [41]:
cur = conn.cursor()
cur.execute("SELECT CASE WHEN Age BETWEEN 18 AND 24 THEN '18-24' WHEN Age BETWEEN 25 AND 34 THEN '25-34' WHEN Age BETWEEN 35 AND 44 THEN '35-44' WHEN Age BETWEEN 45 AND 54 THEN '45-54'WHEN Age BETWEEN 55 AND 60 THEN '55-60'ELSE '60+'END AS age_range, Attrition,COUNT(*) AS count_of_employees FROM employee GROUP BY age_range, Attrition ORDER BY age_range;")
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =['age_range','attrition','employee_count'])
print(employee_df)

  age_range attrition  employee_count
0     18-24        No              59
1     18-24       Yes              38
2     25-34        No             442
3     25-34       Yes             112
4     35-44        No             454
5     35-44       Yes              51
6     45-54       Yes              25
7     45-54        No             220
8     55-60        No              58
9     55-60       Yes              11

## Question 8
### Give Environment Satisfaction distribution to the employees.

In [42]:
cur = conn.cursor()
cur.execute("SELECT Environment_Satisfaction, COUNT(*) AS num_of_employees FROM employee GROUP BY Environment_Satisfaction ORDER BY Environment_Satisfaction IN('Medium','Satisfied', 'Highly Satisfied');")
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =['environment_satisfaction','num_of_employees'])
print(employee_df)

  environment_satisfaction  num_of_employees
0                      Low               284
1         Highly Satisfied               446
2                Satisfied               453
3                   Medium               287

## Question 9
### Show the distribution of Job Satisfaction among the employees.

In [43]:
cur = conn.cursor()
cur.execute("SELECT Job_Satisfaction,COUNT(*) AS num_of_employees FROM employee GROUP BY Job_Satisfaction")
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =['job_satisfaction','num_of_employees'])
print(employee_df)

   job_satisfaction  num_of_employees
0  Highly-Satisfied               459
1         Satisfied               442
2               Mid               280
3               Low               289

## Question 10
### Show the distribution of work-life balance among the employees.

In [44]:
cur = conn.cursor()
cur.execute("SELECT work_life_balance,COUNT(*) AS num_of_employees FROM employee GROUP BY work_life_balance")
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =['work_life_balance','num_of_employees'])
print(employee_df)

  work_life_balance  num_of_employees
0         Very-Good               153
1              Good               893
2               Mid               344
3               Low                80

## Question 11
### Show the count of involved and highly-involved employees.

In [46]:
cur = conn.cursor()
cur.execute("SELECT job_involvement,COUNT(*) AS num_of_employees FROM employee where job_involvement in ('Highly-Involved','Involved') GROUP BY job_involvement")
rows = cur.fetchall()
employee_df = pd.DataFrame(rows, columns =['job_involvement','num_of_employees'])
print(employee_df)

   job_involvement  num_of_employees
0  Highly-Involved               144
1         Involved               868